aiogram==3.1.1
pydantic==2.3.0
https://files.pythonhosted.org/packages/cp311/p/pydantic_core/pydantic_core-2.6.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
aiohttp==3.8.5
qrcode[pil]
Pillow
python-dotenv
sqlalchemy[asyncio]==2.0.23
asyncpg
gunicorn
uvicorn[standard]